* {
    font-family: 'Jura', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #2C8D7C;  
    color: white;  
  }
  
  .navbar-brand h1 {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
  }
  
  .navbar-links a {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    transition: opacity 0.3s ease;
  }
  
  .navbar-links a:hover {
    opacity: 0.7;  
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .navbar-links a {
      margin: 5px 0;
    }
  }
  